# query optimization

the process of query optimization is very similar to the process of refactoring.

the goal is to make the query more efficient without changing it's behavior.

so ideally you should write TDD-style tests for your queries first before you start optimizing them to avoid any unexpected behavior changes.

in this notebook we will go through some common query optimization techniques based on examples.

In [ ]:
!chmod +x ./reset.sh && ./reset.sh > /dev/null
!psql postgres -c "reset all;"

In [70]:
import os
import sys
import json

def equals_query(query1: str, query2: str, prefix: str="") -> bool:
    output1 = os.popen(f'psql postgres -c "{prefix} {query1};"').read()
    output2 = os.popen(f'psql postgres -c "{prefix} {query2};"').read()
    length_match = len(output1) == len(output2)
    
    output1 = output1.splitlines()
    output2 = output2.splitlines()
    output1.sort()
    output2.sort()
    output1 = "\n".join(output1)
    output2 = "\n".join(output2)
    non_order_match = output1 == output2
    
    return length_match and non_order_match

def print_simple_execution_plan(query: str, prefix: str="") -> None:
    output = os.popen(f'psql postgres -c "{prefix} explain (analyze, verbose off, costs off, settings off, generic_plan off, buffers off, wal off, timing off, summary off) {query};"').read()
    print(output)

def print_verbose_execution_plan(query: str, prefix: str="") -> None:
    output = os.popen(f'psql postgres -c "{prefix} explain (analyze, verbose, costs, settings, buffers, wal, timing, summary) {query};"').read()
    print(output)

def print_avg_time(query: str, prefix: str="", iters:int=10) -> None:   
    def get_exec_time(query: str, prefix: str="") -> float:
        output = os.popen(f'psql postgres -c "{prefix} explain (analyze, verbose, costs, settings, buffers, wal, timing, summary, format json) {query};"').read()
        output = output.splitlines()[2:-2]
        for i in range(len(output)):
            if len(output[i]) > 2:
                output[i] = output[i][:-1]
        output = "\n".join(output)
        output = json.loads(output)[0]
        return float(output["Execution Time"])

    vals = []
    for _ in range(iters):
        vals.append(get_exec_time(query, prefix))
        sys.stdout.write(f"\r{iters - _} iterations left")
        sys.stdout.write("\r")
        sys.stdout.flush()
    print(f"average execution time in {iters} interations: {sum(vals) / iters:.2f} ms")

# demo
demo_q1 = "SELECT a,b,c FROM r NATURAL JOIN s NATURAL JOIN t"
demo_q2 = "SELECT a,b,c FROM r NATURAL JOIN s NATURAL JOIN t ORDER BY a,b,c"
assert equals_query(demo_q1, demo_q2)
# print_simple_execution_plan(demo_q1)
# print_verbose_execution_plan(demo_q1)
print_avg_time(demo_q1)

average execution time in 10 interations: 325.58 ms

# example a) text search query


original query: `76.858 ms`

- uses substring to search for a specific word in the text column
- to learn more about postgres substring function and string matching:
    - https://www.postgresql.org/docs/9.1/functions-string.html
    - https://www.postgresql.org/docs/9.1/functions-matching.html

```sql
SELECT COUNT(*) FROM comments
WHERE substring(text from '%#" hello #"%' for '#') IS NOT NULL
OR substring(text from '%#" hi #"%' for '#') IS NOT NULL;
```

---

better standard library: `48.933 ms`

- the substring function is not meant for text matching

```sql
SELECT COUNT(*) FROM comments WHERE text LIKE '% hello %' OR text LIKE '% hi %';
```

---

index on search field: `31.11 ms`

- improving lookup time by adding an index on the text column

```sql
CREATE INDEX text_index ON comments (text);
SELECT COUNT(*) FROM comments WHERE text LIKE '% hello %' OR text LIKE '% hi %';
```

---

precompute the results: `0.3 ms`

- we can add a new column to the table to store the result of the search that we have to set on each insert or update
- add an index on the new column to improve lookup time
- can be done with a trigger but it could be considered cheating because it's less about query optimization and more about data optimization
- there are much nicer ways to do this, as we will see in the next example

```sql
ALTER TABLE comments ADD COLUMN is_match boolean;
UPDATE comments SET is_match = TRUE WHERE text LIKE '% hello %' OR text LIKE '% hi %';
CREATE INDEX is_match_index ON comments (is_match);
SELECT count(*) FROM comments WHERE is_match = TRUE;
```

### simplify the string matching

In [326]:
# equivalent
!psql postgres -c "select substring('this is swaggy' from '%#\" is #\"%' for '#');"
!psql postgres -c "select substring('this is swaggy' from '%@\" is @\"%' for '@');"
!psql postgres -c "select substring('this is swaggy' from '%$\" is $\"%' for '$');"
!psql postgres -c "select substring('this is swaggy', ' is ');"

# simplified parts of original query
!psql postgres -c "SELECT * FROM comments WHERE substring(text from '%#\" hi #\"%' for '#') IS NOT NULL;"
!psql postgres -c "SELECT * FROM comments WHERE substring(text, ' hi ') IS NOT NULL;"

 substring
-----------
  is
(1 row)

 substring
-----------
  is
(1 row)

 substring
-----------
  is
(1 row)

 substring
-----------
  is
(1 row)

  id   | postid | score |                                                                                                                                           text                                                                                                                                            |      creationdate       | userid | userdisplayname | contentlicense
-------+--------+-------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------------+--------+-----------------+----------------
 37171 |  17355 |     1 | the infrared radiation from the sun is shortwave infrared and is not stopped by the atmosphere,the earth emits infrared radiation in longwave radiation and a lot of this gets absorbed and radiated back to the suface of earth(the atmosphere behave like a hi pass filter in infrared) | 2019-07-02 12:21:07.667 |   6258 |                 | CC BY-SA 4.0
(1 row)

  id   | postid | score |                                                                                                                                           text                                                                                                                                            |      creationdate       | userid | userdisplayname | contentlicense
-------+--------+-------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------------+--------+-----------------+----------------
 37171 |  17355 |     1 | the infrared radiation from the sun is shortwave infrared and is not stopped by the atmosphere,the earth emits infrared radiation in longwave radiation and a lot of this gets absorbed and radiated back to the suface of earth(the atmosphere behave like a hi pass filter in infrared) | 2019-07-02 12:21:07.667 |   6258 |                 | CC BY-SA 4.0
(1 row)

In [339]:
# original
!psql postgres -c "SELECT * FROM comments WHERE substring(text from '%#\" hello #\"%' for '#') IS NOT NULL OR substring(text from '%#\" hi #\"%' for '#') IS NOT NULL;"

# simplified
!psql postgres -c "SELECT * FROM comments WHERE substring(text, ' hello ') IS NOT NULL OR substring(text, ' hi ') IS NOT NULL;"
!psql postgres -c "SELECT * FROM comments WHERE text LIKE '% hello %' OR text LIKE '% hi %';"

  id   | postid | score |                                                                                                                                           text                                                                                                                                            |      creationdate       | userid | userdisplayname | contentlicense
-------+--------+-------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------------+--------+-----------------+----------------
 37171 |  17355 |     1 | the infrared radiation from the sun is shortwave infrared and is not stopped by the atmosphere,the earth emits infrared radiation in longwave radiation and a lot of this gets absorbed and radiated back to the suface of earth(the atmosphere behave like a hi pass filter in infrared) | 2019-07-02 12:21:07.667 |   6258 |                 | CC BY-SA 4.0
(1 row)

  id   | postid | score |                                                                                                                                           text                                                                                                                                            |      creationdate       | userid | userdisplayname | contentlicense
-------+--------+-------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------------+--------+-----------------+----------------
 37171 |  17355 |     1 | the infrared radiation from the sun is shortwave infrared and is not stopped by the atmosphere,the earth emits infrared radiation in longwave radiation and a lot of this gets absorbed and radiated back to the suface of earth(the atmosphere behave like a hi pass filter in infrared) | 2019-07-02 12:21:07.667 |   6258 |                 | CC BY-SA 4.0
(1 row)

  id   | postid | score |                                                                                                                                           text                                                                                                                                            |      creationdate       | userid | userdisplayname | contentlicense
-------+--------+-------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------------+--------+-----------------+----------------
 37171 |  17355 |     1 | the infrared radiation from the sun is shortwave infrared and is not stopped by the atmosphere,the earth emits infrared radiation in longwave radiation and a lot of this gets absorbed and radiated back to the suface of earth(the atmosphere behave like a hi pass filter in infrared) | 2019-07-02 12:21:07.667 |   6258 |                 | CC BY-SA 4.0
(1 row)

In [343]:
# checking performance (we can't use my library because it breaks on nested double quotes)

!psql postgres -c "explain (analyze) SELECT count(*) FROM comments WHERE substring(text, ' hello ') IS NOT NULL OR substring(text, ' hi ') IS NOT NULL;"
!psql postgres -c "explain (analyze) SELECT count(*) FROM comments WHERE text LIKE '% hello %' OR text LIKE '% hi %';"

                                                     QUERY PLAN
---------------------------------------------------------------------------------------------------------------------
 Aggregate  (cost=1475.85..1475.86 rows=1 width=8) (actual time=76.807..76.807 rows=1 loops=1)
   ->  Seq Scan on comments  (cost=0.00..1412.44 rows=25362 width=0) (actual time=61.066..76.797 rows=1 loops=1)
         Filter: (("substring"(text, ' hello '::text) IS NOT NULL) OR ("substring"(text, ' hi '::text) IS NOT NULL))
         Rows Removed by Filter: 25362
 Planning Time: 0.274 ms
 Execution Time: 76.858 ms
(6 rows)

                                                 QUERY PLAN
-------------------------------------------------------------------------------------------------------------
 Aggregate  (cost=1412.46..1412.47 rows=1 width=8) (actual time=48.866..48.867 rows=1 loops=1)
   ->  Seq Scan on comments  (cost=0.00..1412.44 rows=5 width=0) (actual time=37.891..48.852 rows=1 loops=1)
         Filter: ((text ~~ '% hello %'::text) OR (text ~~ '% hi %'::text))
         Rows Removed by Filter: 25362
 Planning Time: 0.900 ms
 Execution Time: 48.933 ms
(6 rows)

### optimize through trial and error

In [368]:
# create index on text
!psql postgres -c "CREATE INDEX text_index ON comments (text);"
print_avg_time("SELECT count(*) FROM comments WHERE text LIKE '% hello %' OR text LIKE '% hi %';")

ERROR:  relation "text_index" already exists
average execution time in 10 interations: 31.11 ms

In [374]:
# new smaller table with index (actually slower lol)
!psql postgres -c "CREATE TABLE comments_small AS SELECT text FROM comments;"
!psql postgres -c "CREATE INDEX text_index_small ON comments_small (text);"
print_avg_time("SELECT COUNT(*) FROM comments WHERE text LIKE '% hello %' OR text LIKE '% hi %';")

ERROR:  relation "comments_small" already exists
ERROR:  relation "text_index_small" already exists
average execution time in 10 interations: 32.58 ms

In [378]:
# union all
!psql postgres -c "SELECT * FROM (SELECT 1 FROM comments WHERE text LIKE '% hello %' UNION ALL SELECT 1 FROM comments WHERE text LIKE '% hi %') AS temp;"
print_avg_time("SELECT count(*) FROM (SELECT 1 FROM comments WHERE text LIKE '% hello %' UNION ALL SELECT 1 FROM comments WHERE text LIKE '% hi %') AS temp;")

 ?column?
----------
        1
(1 row)

average execution time in 10 interations: 34.73 ms

In [381]:
# add "is_match" column to table (can be generated with a trigger)
!psql postgres -c "ALTER TABLE comments ADD COLUMN is_match boolean;"
!psql postgres -c "UPDATE comments SET is_match = TRUE WHERE text LIKE '% hello %' OR text LIKE '% hi %';"
# add index to is_match
!psql postgres -c "CREATE INDEX is_match_index ON comments (is_match);"
print_avg_time("SELECT count(*) FROM comments WHERE is_match = TRUE;")

ERROR:  column "is_match" of relation "comments" already exists
UPDATE 1
ERROR:  relation "is_match_index" already exists
average execution time in 10 interations: 0.11 ms

In [382]:
print_simple_execution_plan("SELECT count(*) FROM comments WHERE text LIKE '% hello %' OR text LIKE '% hi %';")

                                QUERY PLAN
---------------------------------------------------------------------------
 Aggregate (actual rows=1 loops=1)
   ->  Seq Scan on comments (actual rows=1 loops=1)
         Filter: ((text ~~ '% hello %'::text) OR (text ~~ '% hi %'::text))
         Rows Removed by Filter: 25362
(4 rows)

# example b) nested query

original query: `44819.041 ms`

```sql
SELECT DISTINCT b.name FROM badges b
WHERE b.userid IN (
    SELECT u.id from users u WHERE u.reputation < 0.5 * b.class
);
```

---

use natural join instead of nested query: `11.07 ms`

```sql
SELECT DISTINCT b.name FROM badges b JOIN users u ON b.userid = u.id WHERE u.reputation < 0.5 * b.class;
```

---

use index with materialized view: `5.23 ms`

```sql
CREATE MATERIALIZED VIEW user_badge AS SELECT b.userid, b.name, u.reputation, b.class FROM badges b JOIN users u ON b.userid = u.id;
CREATE INDEX users_reputation_idx ON users(reputation);
CREATE INDEX badges_class_idx ON badges(class);
SELECT DISTINCT name FROM user_badge WHERE reputation < 0.5 * class;
```

---

precompute: `0.3 ms`

```sql
CREATE TABLE is_match AS SELECT DISTINCT name FROM user_badge WHERE reputation < 0.5 * class;
CREATE INDEX is_match_idx ON is_match(name);
SELECT * FROM is_match;
```

### test inital query

In [386]:
!psql postgres -c "EXPLAIN ANALYSE SELECT DISTINCT b.name FROM badges b WHERE b.userid IN (SELECT u.id from users u WHERE u.reputation < 0.5 * b.class);"

                                                           QUERY PLAN
---------------------------------------------------------------------------------------------------------------------------------
 Unique  (cost=9651385.45..9651448.70 rows=86 width=10) (actual time=44818.861..44818.964 rows=29 loops=1)
   ->  Sort  (cost=9651385.45..9651417.07 rows=12650 width=10) (actual time=44818.860..44818.904 rows=2408 loops=1)
         Sort Key: b.name
         Sort Method: quicksort  Memory: 149kB
         ->  Seq Scan on badges b  (cost=0.00..9650523.55 rows=12650 width=10) (actual time=92.086..44818.214 rows=2408 loops=1)
               Filter: (SubPlan 1)
               Rows Removed by Filter: 22891
               SubPlan 1
                 ->  Seq Scan on users u  (cost=0.00..750.88 rows=4798 width=4) (actual time=0.197..1.646 rows=5707 loops=25299)
                       Filter: ((reputation)::numeric < (0.5 * (b.class)::numeric))
                       Rows Removed by Filter: 8062
 Planning Time: 0.617 ms
 Execution Time: 44819.041 ms
(13 rows)

In [383]:
print_simple_execution_plan("SELECT DISTINCT b.name FROM badges b WHERE b.userid IN (SELECT u.id from users u WHERE u.reputation < 0.5 * b.class);")

                                     QUERY PLAN
------------------------------------------------------------------------------------
 Unique (actual rows=29 loops=1)
   ->  Sort (actual rows=2408 loops=1)
         Sort Key: b.name
         Sort Method: quicksort  Memory: 149kB
         ->  Seq Scan on badges b (actual rows=2408 loops=1)
               Filter: (SubPlan 1)
               Rows Removed by Filter: 22891
               SubPlan 1
                 ->  Seq Scan on users u (actual rows=5707 loops=25299)
                       Filter: ((reputation)::numeric < (0.5 * (b.class)::numeric))
                       Rows Removed by Filter: 8062
(11 rows)

### remove nested query with natural join

In [389]:
q1 = "SELECT DISTINCT b.name FROM badges b WHERE b.userid IN (SELECT u.id from users u WHERE u.reputation < 0.5 * b.class);"
q2 = "SELECT DISTINCT b.name FROM badges b JOIN users u ON b.userid = u.id WHERE u.reputation < 0.5 * b.class;"
print(equals_query(q1, q2))

True

In [408]:
print_avg_time("SELECT DISTINCT b.name FROM badges b JOIN users u ON b.userid = u.id WHERE u.reputation < 0.5 * b.class;")

average execution time in 10 interations: 11.07 ms

In [405]:
print_simple_execution_plan("SELECT DISTINCT b.name FROM badges b JOIN users u ON b.userid = u.id WHERE u.reputation < 0.5 * b.class;")

                                 QUERY PLAN
-----------------------------------------------------------------------------
 HashAggregate (actual rows=29 loops=1)
   Group Key: b.name
   Batches: 1  Memory Usage: 40kB
   ->  Hash Join (actual rows=2408 loops=1)
         Hash Cond: (b.userid = u.id)
         Join Filter: ((u.reputation)::numeric < (0.5 * (b.class)::numeric))
         Rows Removed by Join Filter: 22891
         ->  Seq Scan on badges b (actual rows=25299 loops=1)
         ->  Hash (actual rows=14394 loops=1)
               Buckets: 16384  Batches: 1  Memory Usage: 691kB
               ->  Seq Scan on users u (actual rows=14394 loops=1)
(11 rows)

### optimize through trial and error

In [433]:
# too many indexes actually make it slower
!psql postgres -c "CREATE INDEX badges_user_id ON badges (userid);"
# !psql postgres -c "CREATE INDEX badges_class ON badges (class);"
!psql postgres -c "CREATE INDEX users_id ON users (id);"
# !psql postgres -c "CREATE INDEX users_reputation ON users (reputation);"
print_avg_time("SELECT DISTINCT b.name FROM badges b JOIN users u ON b.userid = u.id WHERE u.reputation < 0.5 * b.class;")

CREATE INDEX
CREATE INDEX
average execution time in 10 interations: 11.57 ms

In [435]:
# use materialized view with index
!psql postgres -c "CREATE MATERIALIZED VIEW user_badge AS SELECT b.userid, b.name, u.reputation, b.class FROM badges b JOIN users u ON b.userid = u.id;"
!psql postgres -c "CREATE INDEX users_reputation_idx ON users(reputation);"
!psql postgres -c "CREATE INDEX badges_class_idx ON badges(class);"

print(equals_query("SELECT DISTINCT b.name FROM badges b JOIN users u ON b.userid = u.id WHERE u.reputation < 0.5 * b.class;", "SELECT DISTINCT name FROM user_badge WHERE reputation < 0.5 * class;"))
print_avg_time("SELECT DISTINCT name FROM user_badge WHERE reputation < 0.5 * class;")

ERROR:  relation "user_badge" already exists
ERROR:  relation "users_reputation_idx" already exists
ERROR:  relation "badges_class_idx" already exists
True
average execution time in 10 interations: 5.33 ms

In [434]:
# precompute
!psql postgres -c "CREATE TABLE is_match AS SELECT DISTINCT name FROM user_badge WHERE reputation < 0.5 * class;"
!psql postgres -c "CREATE INDEX is_match_idx ON is_match(name);"
print_avg_time("SELECT * FROM is_match;")

ERROR:  relation "is_match" already exists

ERROR:  relation "is_match_idx" already exists
average execution time in 10 interations: 0.03 ms

# example c) repetitive predicates

original query: `77278.435 ms`

```sql
SELECT distinct b.userid FROM badges b
WHERE -- they are the only users with a badge that starts with 'qu'
(SELECT count(distinct b2.name) FROM badges b2 WHERE b2.name ILIKE 'qu%' AND b2.userid=b.userid)
=
(SELECT count(distinct b2.name) FROM badges b2 WHERE b2.name ILIKE 'qu%');
```

---

move filter further up: `12.02 ms`

```sql
SELECT DISTINCT b.userid
FROM badges b
JOIN badges b2 ON b.userid = b2.userid
WHERE b.name ILIKE 'qu%'
GROUP BY DISTINCT b.userid
HAVING COUNT(b2.name) = COUNT(b.name);
```

---

use index with materialized view: `11.62 ms`

```sql
CREATE MATERIALIZED VIEW badge_counts AS SELECT userid, COUNT(name) FROM badges GROUP BY userid;

CREATE INDEX userid_idx ON badge_counts(userid);
CREATE INDEX count_idx ON badge_counts(count);

SELECT DISTINCT b.userid
FROM badges b
JOIN badges b2 ON b.userid = b2.userid
WHERE b.name ILIKE 'qu%'
GROUP BY distinct b.userid
HAVING COUNT(b2.name) = COUNT(b.name);
```

In [439]:
oldq = """
SELECT distinct b.userid FROM badges b
WHERE
(SELECT count(distinct b2.name) FROM badges b2 WHERE b2.name ILIKE 'qu%' AND b2.userid=b.userid)
=
(SELECT count(distinct b2.name) FROM badges b2 WHERE b2.name ILIKE 'qu%');
"""
!psql postgres -c "explain (analyze) {oldq}"

                                                                QUERY PLAN
------------------------------------------------------------------------------------------------------------------------------------------
 Unique  (cost=15168148.36..15168148.99 rows=125 width=4) (actual time=77278.187..77278.379 rows=118 loops=1)
   InitPlan 2 (returns $1)
     ->  Aggregate  (cost=540.98..540.99 rows=1 width=8) (actual time=3.165..3.167 rows=1 loops=1)
           ->  Sort  (cost=540.38..540.68 rows=120 width=10) (actual time=3.158..3.162 rows=118 loops=1)
                 Sort Key: b2_1.name
                 Sort Method: quicksort  Memory: 26kB
                 ->  Seq Scan on badges b2_1  (cost=0.00..536.24 rows=120 width=10) (actual time=0.007..3.138 rows=118 loops=1)
                       Filter: (name ~~* 'qu%'::text)
                       Rows Removed by Filter: 25181
   ->  Sort  (cost=15167607.37..15167607.69 rows=126 width=4) (actual time=77278.186..77278.271 rows=4428 loops=1)
         Sort Key: b.userid
         Sort Method: quicksort  Memory: 193kB
         ->  Seq Scan on badges b  (cost=0.00..15167602.98 rows=126 width=4) (actual time=12.641..77277.746 rows=4428 loops=1)
               Filter: ((SubPlan 1) = $1)
               Rows Removed by Filter: 20871
               SubPlan 1
                 ->  Aggregate  (cost=599.50..599.51 rows=1 width=8) (actual time=3.054..3.054 rows=1 loops=25299)
                       ->  Sort  (cost=599.50..599.50 rows=1 width=10) (actual time=3.054..3.054 rows=0 loops=25299)
                             Sort Key: b2.name
                             Sort Method: quicksort  Memory: 25kB
                             ->  Seq Scan on badges b2  (cost=0.00..599.49 rows=1 width=10) (actual time=2.615..3.052 rows=0 loops=25299)
                                   Filter: ((name ~~* 'qu%'::text) AND (userid = b.userid))
                                   Rows Removed by Filter: 25299
 Planning Time: 0.212 ms
 Execution Time: 77278.435 ms
(25 rows)

In [507]:
q1 = """
SELECT distinct b.userid FROM badges b
WHERE
(SELECT count(distinct b2.name) FROM badges b2 WHERE b2.name ILIKE 'qu%' AND b2.userid=b.userid)
=
(SELECT count(distinct b2.name) FROM badges b2 WHERE b2.name ILIKE 'qu%');
"""

q2 = """
SELECT DISTINCT b.userid
FROM badges b
JOIN badges b2 ON b.userid = b2.userid
WHERE b.name ILIKE 'qu%'
GROUP BY distinct b.userid
HAVING COUNT(b2.name) = COUNT(b.name);
"""

assert equals_query(q1, q2), "queries are not equivalent"

In [515]:
q1 = """
SELECT DISTINCT b.userid
FROM badges b
JOIN badges b2 ON b.userid = b2.userid
WHERE b.name ILIKE 'qu%'
GROUP BY distinct b.userid
HAVING COUNT(b2.name) = COUNT(b.name);
"""

print_avg_time(q1)

average execution time in 10 interations: 12.02 ms

In [527]:
# both have no impact

# materialized view
!psql postgres -c "CREATE MATERIALIZED VIEW badge_counts AS SELECT userid, COUNT(name) FROM badges GROUP BY userid;"

# index
!psql postgres -c "CREATE INDEX userid_idx ON badge_counts(userid);"
!psql postgres -c "CREATE INDEX count_idx ON badge_counts(count);"

q1 = """
SELECT DISTINCT b.userid
FROM badges b
JOIN badges b2 ON b.userid = b2.userid
WHERE b.name ILIKE 'qu%'
GROUP BY distinct b.userid
HAVING COUNT(b2.name) = COUNT(b.name);
"""

print_avg_time(q1)

ERROR:  relation "badge_counts" already exists
ERROR:  relation "userid_idx" already exists
ERROR:  relation "count_idx" already exists
average execution time in 10 interations: 10.62 ms

# example d) monstrosity

original query: `1127.81 ms`

```sql
SELECT distinct p.*
FROM users u, posthistory h, posts p, badges b
WHERE u.id = h.userid
AND h.userid = u.id
AND h.userdisplayname = u.displayname
AND p.id = h.postid
AND b.userid = u.id
AND (b.name SIMILAR TO 'Supporter' OR b.name SIMILAR TO 'Editor')
AND
    (SELECT AVG(u2.upvotes) FROM users u2 WHERE u2.creationdate > p.creationdate)
    >
    (SELECT COUNT(*) FROM votes v WHERE v.votetypeid = 15 AND v.postid = h.postid AND h.ContentLicense LIKE '%CC BY%');
```

---

natural join with fewer predicates: `938.23 ms`

```sql
SELECT distinct p.*
FROM users u
JOIN posthistory h ON u.id = h.userid AND h.userdisplayname = u.displayname
JOIN posts p ON p.id = h.postid
JOIN badges b ON b.userid = u.id
WHERE b.name SIMILAR TO 'Supporter' OR b.name SIMILAR TO 'Editor'
AND
    (SELECT AVG(u2.upvotes) FROM users u2 WHERE u2.creationdate > p.creationdate)
    >
    (SELECT COUNT(*) FROM votes v WHERE v.votetypeid = 15 AND v.postid = h.postid AND h.ContentLicense LIKE '%CC BY%');
```

---

one single optimized subquery: `423.92 ms`

```sql
SELECT DISTINCT p.*
FROM users u
JOIN posthistory h ON u.id = h.userid AND h.userdisplayname = u.displayname
JOIN posts p ON p.id = h.postid
JOIN badges b ON b.userid = u.id
WHERE (b.name = 'Supporter' OR b.name = 'Editor')
AND EXISTS (
    SELECT 1
    FROM users u2 
    WHERE u2.creationdate > p.creationdate
    GROUP BY u2.id
    HAVING AVG(u2.upvotes) > ( 
        SELECT COUNT(*) 
        FROM votes v 
        WHERE v.votetypeid = 15 
          AND v.postid = h.postid 
          AND h.ContentLicense LIKE '%CC BY%'
    )
);
```

---

index on search fields: `311.79 ms`

```sql
CREATE INDEX idx_users_id_displayname ON users(id, displayname);
CREATE INDEX idx_posthistory_userid_userdisplayname_postid ON posthistory(userid, userdisplayname, postid);
CREATE INDEX idx_posts_id ON posts(id);
CREATE INDEX idx_badges_userid ON badges(userid);

SELECT DISTINCT p.*
FROM users u
JOIN posthistory h ON u.id = h.userid AND h.userdisplayname = u.displayname
JOIN posts p ON p.id = h.postid
JOIN badges b ON b.userid = u.id
WHERE (b.name = 'Supporter' OR b.name = 'Editor')
AND EXISTS (
    SELECT 1
    FROM users u2 
    WHERE u2.creationdate > p.creationdate
    GROUP BY u2.id
    HAVING AVG(u2.upvotes) > ( 
        SELECT COUNT(*) 
        FROM votes v 
        WHERE v.votetypeid = 15 
          AND v.postid = h.postid 
          AND h.ContentLicense LIKE '%CC BY%'
    )
);
```

In [541]:
q = """
SELECT distinct p.*
FROM users u, posthistory h, posts p, badges b
WHERE u.id = h.userid
AND h.userid = u.id
AND h.userdisplayname = u.displayname
AND p.id = h.postid
AND b.userid = u.id
AND (b.name SIMILAR TO 'Supporter' OR b.name SIMILAR TO 'Editor')
AND
    (SELECT AVG(u2.upvotes) FROM users u2 WHERE u2.creationdate > p.creationdate)
    >
    (SELECT COUNT(*) FROM votes v WHERE v.votetypeid = 15 AND v.postid = h.postid AND h.ContentLicense LIKE '%CC BY%');
"""

print_avg_time(q)

average execution time in 10 interations: 1175.34 ms

In [561]:
q1 = """
SELECT distinct p.*
FROM users u, posthistory h, posts p, badges b
WHERE u.id = h.userid                           
AND h.userid = u.id                             
AND h.userdisplayname = u.displayname           
AND p.id = h.postid                             
AND b.userid = u.id                             
AND (b.name SIMILAR TO 'Supporter' OR b.name SIMILAR TO 'Editor')
AND
    (SELECT AVG(u2.upvotes) FROM users u2 WHERE u2.creationdate > p.creationdate)
    >
    (SELECT COUNT(*) FROM votes v WHERE v.votetypeid = 15 AND v.postid = h.postid AND h.ContentLicense LIKE '%CC BY%');
"""

q2 = """
SELECT distinct p.*
FROM users u
JOIN posthistory h ON u.id = h.userid AND h.userdisplayname = u.displayname
JOIN posts p ON p.id = h.postid
JOIN badges b ON b.userid = u.id
WHERE b.name SIMILAR TO 'Supporter' OR b.name SIMILAR TO 'Editor'
AND
    (SELECT AVG(u2.upvotes) FROM users u2 WHERE u2.creationdate > p.creationdate)
    >
    (SELECT COUNT(*) FROM votes v WHERE v.votetypeid = 15 AND v.postid = h.postid AND h.ContentLicense LIKE '%CC BY%');
"""

assert equals_query(q1, q2), "queries are not equivalent"
print_avg_time(q1)
print_avg_time(q2)

average execution time in 10 interations: 1127.81 ms
average execution time in 10 interations: 899.95 ms

In [584]:
q1 = """
SELECT distinct p.*
FROM users u
JOIN posthistory h ON u.id = h.userid AND h.userdisplayname = u.displayname
JOIN posts p ON p.id = h.postid
JOIN badges b ON b.userid = u.id
WHERE b.name SIMILAR TO 'Supporter' OR b.name SIMILAR TO 'Editor'
AND
    (SELECT AVG(u2.upvotes) FROM users u2 WHERE u2.creationdate > p.creationdate)
    >
    (SELECT COUNT(*) FROM votes v WHERE v.votetypeid = 15 AND v.postid = h.postid AND h.ContentLicense LIKE '%CC BY%');
"""

q2 = """
SELECT DISTINCT p.*
FROM users u
JOIN posthistory h ON u.id = h.userid AND h.userdisplayname = u.displayname
JOIN posts p ON p.id = h.postid
JOIN badges b ON b.userid = u.id
WHERE (b.name = 'Supporter' OR b.name = 'Editor')
AND EXISTS (
    SELECT 1
    FROM users u2 
    WHERE u2.creationdate > p.creationdate
    GROUP BY u2.id
    HAVING AVG(u2.upvotes) > ( 
        SELECT COUNT(*) 
        FROM votes v 
        WHERE v.votetypeid = 15 
          AND v.postid = h.postid 
          AND h.ContentLicense LIKE '%CC BY%'
    )
);
"""

assert equals_query(q1, q2), "queries are not equivalent"
print_avg_time(q1)
print_avg_time(q2)

average execution time in 10 interations: 938.23 ms
average execution time in 10 interations: 423.92 ms

In [598]:
!psql postgres -c "CREATE INDEX idx_users_id_displayname ON users(id, displayname);"
!psql postgres -c "CREATE INDEX idx_posthistory_userid_userdisplayname_postid ON posthistory(userid, userdisplayname, postid);"
!psql postgres -c "CREATE INDEX idx_posts_id ON posts(id);"
!psql postgres -c "CREATE INDEX idx_badges_userid ON badges(userid);"

q1 = """
SELECT DISTINCT p.*
FROM users u
JOIN posthistory h ON u.id = h.userid AND h.userdisplayname = u.displayname
JOIN posts p ON p.id = h.postid
JOIN badges b ON b.userid = u.id
WHERE (b.name = 'Supporter' OR b.name = 'Editor')
AND EXISTS (
    SELECT 1
    FROM users u2 
    WHERE u2.creationdate > p.creationdate
    GROUP BY u2.id
    HAVING AVG(u2.upvotes) > ( 
        SELECT COUNT(*) 
        FROM votes v 
        WHERE v.votetypeid = 15 
          AND v.postid = h.postid 
          AND h.ContentLicense LIKE '%CC BY%'
    )
);
"""
print_avg_time(q1)

ERROR:  relation "idx_users_id_displayname" already exists
ERROR:  relation "idx_posthistory_userid_userdisplayname_postid" already exists
ERROR:  relation "idx_posts_id" already exists
ERROR:  relation "idx_badges_userid" already exists
average execution time in 10 interations: 311.79 ms